<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FECD4981D2A3F6D00762750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FECD4B41D2A3F6D00762750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FECD4BF1D2A3F6D00762750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
